.frame{
    background-color: grey;
    margin: auto;
    width: 800px;
    height: 400px;
}
h1{
    font-family: cursive;
    text-align: center;
    text-shadow: 1px 1px 1px gray;
}
a{
    text-decoration: none;
    color: blue;
}
fieldset{
    background-color: whitesmoke;
    border-radius: 8px;
    width: 200px;
    margin: auto;
}
